<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: header"></head>
<title>게시판</title>

<body>

    <div th:replace="fragments/common :: menu('board')"></div>

    <div class="container">
        <h2>게시판</h2>

        <div>총 건수 : <span th:text="${#lists.size(boards)}"></span> </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${boards}">
                    <th th:text="${board.id}">1</th>
                    <td>
                        <a href="" th:href="@{/board/form(id=${board.id})}" th:text="${board.title}">outta</a>
                    </td>
                    <td> me </td>
                </tr>
            </tbody>
        </table>
        <div class="text-end">
            <a href="/board/form" class="btn btn-primary">쓰기</a>
        </div>
    </div>

</body>

</html>